PdfConversion.Client/Service References/ConversionServiceReference/ConversionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConversionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/IConversionService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/IConversionService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/IConversionService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PdfConversionService.API" />
      <xsd:import schemaLocation="http://localhost:8081/IConversionService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PdfConversion.Server.StatusService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConversionService_GetFileState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileState" />
  </wsdl:message>
  <wsdl:message name="IConversionService_GetFileState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileStateResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_GetAvailableFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableFiles" />
  </wsdl:message>
  <wsdl:message name="IConversionService_GetAvailableFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_GetServerStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerStatus" />
  </wsdl:message>
  <wsdl:message name="IConversionService_GetServerStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IConversionService">
    <wsdl:operation name="GetFileState">
      <wsdl:input wsam:Action="http://tempuri.org/IConversionService/GetFileState" message="tns:IConversionService_GetFileState_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IConversionService/GetFileStateResponse" message="tns:IConversionService_GetFileState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableFiles">
      <wsdl:input wsam:Action="http://tempuri.org/IConversionService/GetAvailableFiles" message="tns:IConversionService_GetAvailableFiles_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IConversionService/GetAvailableFilesResponse" message="tns:IConversionService_GetAvailableFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerStatus">
      <wsdl:input wsam:Action="http://tempuri.org/IConversionService/GetServerStatus" message="tns:IConversionService_GetServerStatus_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IConversionService/GetServerStatusResponse" message="tns:IConversionService_GetServerStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConversionService" type="tns:IConversionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileState">
      <soap:operation soapAction="http://tempuri.org/IConversionService/GetFileState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableFiles">
      <soap:operation soapAction="http://tempuri.org/IConversionService/GetAvailableFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerStatus">
      <soap:operation soapAction="http://tempuri.org/IConversionService/GetServerStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConversionService">
    <wsdl:port name="BasicHttpBinding_IConversionService" binding="tns:BasicHttpBinding_IConversionService">
      <soap:address location="http://localhost:8081/IConversionService/PdfService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>